.Home {
    height: 100vh;
    background-color: grey;
    cursor: default;
}

.Headline {
    text-align: center;
    background-color: dodgerblue;
    padding: 3rem 0;
}

.Title {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 8rem;
    color: white;
    text-transform: uppercase;
}

.Icon {
    margin-left: 1rem;
}

.Subline {
    font-size: 1.6rem;
    color: rgb(54, 54, 54);
    font-weight: 100;
    letter-spacing: .3rem;
}

.Search {
    text-align: center;
    padding: 4rem 0;
}

.Info {
    color: rgb(54, 54, 54);
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.Form {
    position: relative;
}

.Input {
    padding: .4rem;
    font-size: 1.6rem;
    border-radius: 25px;
    border: none;
    outline: none;
    color: rgb(54, 54, 54);
    width: 40%;
    border: 1px solid rgb(54, 54, 54);
    transition: all 250ms ease;
}

input.Input:focus {
    background-color: rgb(215, 235, 255);
}

.Button {
    outline: none;
    background-color: dodgerblue;
    color: white;
    border: 1px solid rgb(54, 54, 54);
    border-left: none;
    font-size: 1.6rem;
    padding: .4rem;
    border-radius: 0 25px 25px 0;
    position: absolute;
    top: 0;
    right: 28%;
    cursor: pointer;
    transition: all 250ms ease;
}

.Button:hover {
    background-color: rgb(27, 110, 192);
}

.FormIcon {
    padding: 0 .4rem;
}

@media only screen and (max-width: 1200px) {
    .Input {
        width: 50%;
    }
    .Button {
        right: 23%;
    }
}

@media only screen and (max-width: 825px) {
    .Title {
        font-size: 4rem;
    }
    .Subline {
        font-size: 1.3rem;
        letter-spacing: .2rem;
    }
    .Input {
        width: 70%;
    }
    .Button {
        right: 11%;
    }
}

@media only screen and (max-width: 420px) {
    .Title {
        font-size: 2rem;
    }
    .Subline {
        font-size: 1rem;
    }
    .Info {
        font-size: .85rem;
    }
    .Input {
        width: 90%;
    }
    .Button {
        right: 2%;
    }
}