.container {
    display: flex;
    flex-flow: column;
    padding: 1.8rem;
    cursor: default;
}

@media only screen and (max-width: 500px) {
    .container {
        align-items: center;
        padding: 1.5rem;
    }
}